In [1]:
import pandas as pd
df=pd.read_csv('loan_borowwer_data.csv')
df

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9573,0,all_other,0.1461,344.76,12.180755,10.39,672,10474.000000,215372,82.1,2,0,0,1
9574,0,all_other,0.1253,257.70,11.141862,0.21,722,4380.000000,184,1.1,5,0,0,1
9575,0,debt_consolidation,0.1071,97.81,10.596635,13.09,687,3450.041667,10036,82.9,8,0,0,1
9576,0,home_improvement,0.1600,351.58,10.819778,19.18,692,1800.000000,0,3.2,5,0,0,1
9577,0,debt_consolidation,0.1392,853.43,11.264464,16.28,732,4740.000000,37879,57.0,6,0,0,1

In [2]:
df.isnull().sum()

credit.policy        0
purpose              0
int.rate             0
installment          0
log.annual.inc       0
dti                  0
fico                 0
days.with.cr.line    0
revol.bal            0
revol.util           0
inq.last.6mths       0
delinq.2yrs          0
pub.rec              0
not.fully.paid       0
dtype: int64

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9578 entries, 0 to 9577
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   credit.policy      9578 non-null   int64
 1   purpose            9578 non-null   object
 2   int.rate           9578 non-null   float64
 3   installment        9578 non-null   float64
 4   log.annual.inc     9578 non-null   float64
 5   dti                9578 non-null   float64
 6   fico               9578 non-null   int64
 7   days.with.cr.line  9578 non-null   float64
 8   revol.bal          9578 non-null   int64
 9   revol.util         9578 non-null   float64
 10  inq.last.6mths     9578 non-null   int64
 11  delinq.2yrs        9578 non-null   int64
 12  pub.rec            9578 non-null   int64
 13  not.fully.paid     9578 non-null   int64
dtypes: float64(6), int64(7), object(1)
memory usage: 1.0+ MB

In [4]:
X=df.iloc[:,2:13].values
X

array([[1.18900000e-01, 8.29100000e+02, 1.13504065e+01, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [1.07100000e-01, 2.28220000e+02, 1.10821426e+01, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [1.35700000e-01, 3.66860000e+02, 1.03734912e+01, ...,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       ...,
       [1.07100000e-01, 9.78100000e+01, 1.05966347e+01, ...,
        8.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [1.60000000e-01, 3.51580000e+02, 1.08197783e+01, ...,
        5.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [1.39200000e-01, 8.53430000e+02, 1.12644641e+01, ...,
        6.00000000e+00, 0.00000000e+00, 0.00000000e+00]])

In [5]:
y=df.iloc[:,13].values
y

array([0, 0, 0, ..., 1, 1, 1], dtype=int64)

In [6]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
x=ss.fit_transform(X)
x

array([[-0.13931753,  2.46309947,  0.68038804, ..., -0.71698894,
        -0.29973008, -0.23700318],
       [-0.57886837, -0.43885443,  0.2440308 , ..., -0.71698894,
        -0.29973008, -0.23700318],
       [ 0.48648368,  0.23070836, -0.90865897, ..., -0.26247044,
        -0.29973008, -0.23700318],
       ...,
       [-0.57886837, -1.06867038, -0.54569448, ...,  2.91915909,
        -0.29973008, -0.23700318],
       [ 1.39166043,  0.1569135 , -0.18272998, ...,  1.55560358,
        -0.29973008, -0.23700318],
       [ 0.61685894,  2.58060136,  0.54059439, ...,  2.01012208,
        -0.29973008, -0.23700318]])

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30)

In [8]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix,accuracy_score
LR=LogisticRegression()
out=LR.fit(x_train,y_train).predict(x_test)
AS=accuracy_score(y_test,out)
print('Accuracy: %.3f' % AS)

Accuracy: 0.829

In [9]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=7)
knn_out=knn.fit(x_train,y_train).predict(x_test)
AS_Knn=accuracy_score(y_test,knn_out)
AS_Knn

0.8215031315240083

In [10]:
#NAIVE BAYES:
from sklearn.naive_bayes import GaussianNB
nb=GaussianNB()
naive_out=nb.fit(x_train,y_train).predict(x_test)
AS_Nb=accuracy_score(y_test,naive_out)
print('Accuracy: %.3f' %AS_Nb)

Accuracy: 0.793

In [11]:
#RANDOM FOREST:
from sklearn.ensemble import RandomForestClassifier
RF=RandomForestClassifier(n_estimators=5,criterion='entropy')
RFC=RF.fit(x_train,y_train).predict(x_test)
AS_Rf=accuracy_score(y_test,RFC)
print('Accuracy: %.3f' % AS_Rf)

Accuracy: 0.802

In [12]:
#SVM:
from sklearn.svm import SVC
obj=SVC(kernel='linear')
linear_out=obj.fit(x_train,y_train).predict(x_test)
obj1=SVC(kernel='sigmoid')
sigmoid_out=obj1.fit(x_train,y_train).predict(x_test)
obj2=SVC(kernel='rbf')
rbf_out=obj2.fit(x_train,y_train).predict(x_test)
print('Accuracy_linear: %.3f' % accuracy_score(y_test, linear_out))
print('Accuracy_sigmoid: %.3f' % accuracy_score(y_test, sigmoid_out))
print('Accuracy_Radialbasis: %.3f' % accuracy_score(y_test, rbf_out))

Accuracy_linear: 0.832
Accuracy_sigmoid: 0.751
Accuracy_Radialbasis: 0.831